[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
textual = "*"
docker = "*"
pypiwin32 = {version = "*", sys_platform = "== 'win32'"}
pytest = "*"

[dev-packages]
flake8 = "*"
black = "*"
pytest = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
