Screen {
    layout: vertical;
}

RuntimePanel {
    height: auto;
}

ImagesPanel {
    height: auto;
}

ContainersPanel {
    height: auto;
}

.label-center-top {
    width: 100%;
    content-align: center top;
}
